@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --royal-gold: #D4AF37;
  --royal-black: #000814;
}

body {
  background-color: #000814; /* الأسود الملكي العميق */
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ضمان أن كل حاوية تأخذ عرض الشاشة بالكامل وتتوسطها */
main, .flex-col {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
